# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.lai
*.la
*.a
*.asm
*.lib
*.o
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.vcxproj
*.exe
*.out
*.app

# debug information files
*.dwo

# Don't commit binaries


# Exclude editor config
.vscode/
.vs/

# Exclude temporary folders
*.egg-info/
x64/
